<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script type="text/javascript" th:src="@{http://api.map.baidu.com/api?v=1.3}"></script>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:href="@{/assets/css/codemirror.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
    <![endif]-->
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/Widget/Validform/5.3.2/Validform.min.js}"></script>
    <script th:src="@{/assets/js/typeahead-bs2.min.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/layer/layer.js}" type="text/javascript" ></script>
    <script th:src="@{/js/lrtk.js}" type="text/javascript" ></script>
    <script th:src="@{/assets/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/assets/laydate/laydate.js}" type="text/javascript"></script>
    <title>店铺</title>
</head>

<body>
    <div class="administrator">
        <p th:inline="text" th:if="${errors!=null}" th:each="error:${errors}" style="color: red">[[${error}]]</p>
    <!--添加/修改店铺-->
    <div id="add_administrator_style"  >
        <form action="/shop/shop" method="post" id="form-admin-add">
            <input type="hidden" value="put" name="_method" th:if="${shop!=null}"/>
            <input type="hidden"  name="createTime" th:value="${shop!=null}?${shop.createTime}" th:if="${shop!=null}"/>
            <input type="hidden"  name="id" th:value="${shop!=null}?${shop.id}" th:if="${shop!=null}"/>
            <div class="form-group">
                <label class="form-label"><span class="c-red">*</span>商店名：</label>
                <div class="formControls">
                    <input type="text" class="input-text" th:value="${shop!=null}?${shop.name}" placeholder="" id="name" name="name" datatype="*2-16" nullmsg="店名不能为空" />
                </div>
                <div class="col-4"><span class="Validform_checktip"></span></div>
            </div>
            <div class="form-group">
                <label class="form-label"><span class="c-red">*</span>地址：</label>
                <div class="formControls">
                    <input type="text" placeholder="地址" name="address" autocomplete="off"  id="address" th:value="${shop!=null}?${shop.address}" class="input-text" datatype="*6-20" nullmsg="地址不能为空" />
                    <input type="button" value="查询经纬度" onclick="searchByStationName();"/>
                </div>
                <div class="col-4"> <span class="Validform_checktip"></span></div>
            </div>
            <div class="form-group">
                <label class="form-label"><span class="c-red">*</span>推荐商品：</label>
                <div class="formControls">
                    <input type="text" placeholder="商品名+￥+价格(火锅￥111)" name="recommend" autocomplete="off"  id="recommendShop" th:value="${shop!=null}?${shop.recommend}" class="input-text" datatype="*6-20"  />(请按照标准格式)
                </div>
                <div class="col-4"> <span class="Validform_checktip"></span></div>
            </div>
            <div class="form-group">
                <label class="form-label "><span class="c-red">*</span>商店描述：</label>
                <div class="formControls">
                    <input type="text" placeholder="描述" name="detail" autocomplete="off"  id="shopDetail" th:value="${shop!=null}?${shop.detail}" class="input-text" datatype="*6-20"  />
                </div>
                <div class="col-4"> <span class="Validform_checktip"></span></div>
            </div>
            <div class="form-group">
                <label class="form-label "><span class="c-red">*</span>经度：</label>
                <div class="formControls">
                    <input type="text" placeholder="经度" name="longtitude" autocomplete="off"  id="longitude" th:value="${shop!=null}?${shop.longtitude}" class="input-text" datatype="*6-20"  />
                </div>
                <div class="col-4"> <span class="Validform_checktip"></span></div>
            </div>
            <div class="form-group">
                <label class="form-label "><span class="c-red">*</span>纬度：</label>
                <div class="formControls">
                    <input type="text" placeholder="纬度" name="latitude" autocomplete="off"  id="latitude" th:value="${shop!=null}?${shop.latitude}" class="input-text" datatype="*6-20" />
                </div>
                <div class="col-4"> <span class="Validform_checktip"></span></div>
            </div>
            <input class="btn btn-primary radius" type="submit" id="Add_Administrator" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
        </form>
    </div>
</div>
    <div id="container" style="display: none">
    </div>
</body>
</html>
<script type="text/javascript">
    //<![CDATA[
    var map = new BMap.Map("container");
    var localSearch = new BMap.LocalSearch(map);
    function searchByStationName() {
        var keyword = document.getElementById("address").value;
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            document.getElementById("longitude").value = poi.point.lng ;
            document.getElementById("latitude").value = poi.point.lat;

        });
        localSearch.search(keyword);
    }
    //]]>
    /*检查手机号*/
    function checkTel(e) {
        var re = /^\d+(?=\{0,1}\d+$|$)/
        if (e.value != "") {
            if (!re.test(e.value)) {
                alert("请输入正确的手机号");
                e.value = "";
                e.focus();
            }else if(e.value.length!=11){
                alert("请输入正确的手机号");
                e.value = "";
                e.focus();
            }
        }
    }
    /*检查密码长度并移除前后空格*/
    //<![CDATA[
    function checkPwd(e) {
        if (e.value != "") {
            if (e.value.length<6||e.value.length>20) {
                alert("请输入的密码长度在6-20之间");
                e.value = "";
                e.focus();
            }
        }
        var pwd = e.value;
        pwd = pwd.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        $("#user-password").val(pwd);
    }
    //]]>
    //检查用户名前后是否有空格并移除
    function checkNull(e){
        var name = e.value;
        name = name.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        $("#user-name").val(name);
    }
    jQuery(function($) {
        var oTable1 = $('#sample_table').dataTable( {
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,2,3,4,5,7,8,]}// 制定列不参与排序
            ] } );


        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function(){
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            return 'left';
        }
    });

</script>
<script type="text/javascript">
    $(function() {
        $("#administrator").fix({
            float : 'left',
            //minStatue : true,
            skin : 'green',
            durationTime :false,
            spacingw:50,//设置隐藏时的距离
            spacingh:270,//设置显示时间距
        });
    });
    //字数限制
    function checkLength(which) {
        var maxChars = 100; //
        if(which.value.length > maxChars){
            layer.open({
                icon:2,
                title:'提示框',
                content:'您输入的字数超过限制!',
            });
            // 超过限制的字数了就将 文本框中的内容按规定的字数 截取
            which.value = which.value.substring(0,maxChars);
            return false;
        }else{
            var curr = maxChars - which.value.length; //250 减去 当前输入的
            document.getElementById("sy").innerHTML = curr.toString();
            return true;
        }
    };
    //初始化宽度、高度
    $(".widget-box").height($(window).height()-215);
    $(".table_menu_list").width($(window).width()-260);
    $(".table_menu_list").height($(window).height()-215);
    //当文档窗口发生改变时 触发
    $(window).resize(function(){
        $(".widget-box").height($(window).height()-215);
        $(".table_menu_list").width($(window).width()-260);
        $(".table_menu_list").height($(window).height()-215);
    })
    laydate({
        elem: '#start',
        event: 'focus'
    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs " onClick="member_start(this,id)" th:href="@{javascript:;}" title="启用"><i class="fa fa-close bigger-120"></i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
            $(obj).remove();
            layer.msg('已停用!',{icon: 5,time:1000});
        });
    }
    /*用户-启用*/
    function member_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs btn-success" onClick="member_stop(this,id)" th:href="@{javascript:;}" title="停用"><i class="fa fa-check  bigger-120"></i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!',{icon: 6,time:1000});
        });
    }
    /*产品-编辑*/
    function member_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    /*产品-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    /*添加管理员*/
    $('#administrator_add').on('click', function(){
        layer.open({
            type: 1,
            title:'添加管理员',
            area: ['700px',''],
            shadeClose: false,
            content: $('#add_administrator_style'),

        });
    })
    //表单验证提交
    $("#form-admin-add").Validform({

        tiptype:2,

        callback:function(data){
            //form[0].submit();
            if(data.status==1){
                layer.msg(data.info, {icon: data.status,time: 1000}, function(){
                    location.reload();//刷新页面
                });
            }
            else{
                layer.msg(data.info, {icon: data.status,time: 3000});
            }
            var index =parent.$("#iframe").attr("src");
            parent.layer.close(index);
            //
        }


    });
</script>

